@model WebApplication2.Models.Student


<h2>Registration</h2>

@Html.BeginForm("Registration", "Student", FormMethod.Post)
{
<label>First Name :</label>
@Html.TextBoxFor(m => m.fname)
<br />
<label>Last Name :</label>

@Html.TextBoxFor(m => m.lname)
<br />
<label>City :</label>

@Html.TextBoxFor(m => m.city)
<br />
<input type="submit" value="submit" name="submit" />
}

